html{
    background-color: #ebeef1;
    height: 100%;
}

.panel.list, .panel-collapse{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: all 0.2s;
}
 .panel-collapse {
    height: 0;
    display: block!important;
    overflow: hidden;
    margin-top: 10px;
}

button.opacity-zero{
    opacity: 0;
    margin-top: -5px;
}

