html{
    background-color: #ebeef1;
    height: 100%;
}

.app{
   // position: absolute!important;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

button.opacity-zero{
    opacity: 0;
    margin-top: -5px;
}

.black{
    color: black;
}