
    <div id="newAssignments">
        <nav>
            <div class="active">
                What's Due
						<span class="badge square black">
							13
						</span>
            </div>
            <div class="vertical-seperator white"></div>

            <div>
                What's New
						<span class="badge square black">
							4
						</span>
            </div>
        </nav>
        <div class="assignments-list">
            <div class="arrow-up"></div>
            <div class="day-divider">
                Today
            </div>


            {{#each assignment in filteredData}}
                <div class="assignment">
                    <div {{action 'removeAssignment' assignment}} class="reveal"></div>
                        <div {{bind-attr class=":removable :red assignment.urgencyLabel"}}>

                                <span class="time">
                                    {{assignment.dueDate}}
                                        </span>
                            <div class="info">
                                <div class="title">
                                    {{assignment.assignment_name}}
                                </div>
                                <div class="course">
                                    Business 323
                                </div>
                            </div>
                        </div>
                </div>

            {{/each}}
            {{#each assignment in filteredData}}

                    <div class="assignment">
                        <div class="reveal"></div>
                        <div class="removable red">
                                    <span class="time">
                                        8:30 AM
                                    </span>
                            <div class="info">
                                <div class="title">
                                    Business Presentation
                                </div>
                                <div class="course">
                                    Business 323
                                </div>
                            </div>
                        </div>
                    </div>
            {{/each}}

            <div class="day-divider">
                Tomorrow
            </div>
            <div class="assignment">
                <div class="reveal"></div>
                <div class="removable">
							<span class="time">
								8:30 AM
							</span>
                    <div class="info">
                        <div class="title">
                            Business Presentation
                        </div>
                        <div class="course">
                            Business 323
                        </div>
                    </div>
                </div>
            </div>
            <div class="assignment">
                <div class="reveal"></div>
                <div class="removable">
							<span class="time">
								8:30 AM
							</span>
                    <div class="info">
                        <div class="title">
                            Business Presentation
                        </div>
                        <div class="course">
                            Business 323
                        </div>
                    </div>
                </div>
            </div>
            <div class="day-divider">
                Wednesday, July 20
            </div>
            <div class="assignment">
                <div class="reveal"></div>
                <div class="removable">
							<span class="time">
								8:30 AM
							</span>
                    <div class="info">
                        <div class="title">
                            Business Presentation
                        </div>
                        <div class="course">
                            Business 323
                        </div>
                    </div>
                </div>
            </div>
            <div class="assignment">
                <div class="reveal"></div>
                <div class="removable">
							<span class="time">
								8:30 AM
							</span>
                    <div class="info">
                        <div class="title">
                            Business Presentation
                        </div>
                        <div class="course">
                            Business 323
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
