
<div class="col-md-6 col-sm-6 col-xs-12">
    <section class="panel position-relative">
        <div class="ribbon ribbon-danger">
            <div class="banner">
                <div class="text">IDC Herzliya</div>
            </div>
        </div>
        <div class="panel-body black">
            <div>
                <h4>
                    {{name}}
                </h4>
            </div>
            <p>
                {{description}}
            </p>
            <button type="button" class="btn btn-info btn-outline btn-rounded" {{action 'toggleCourse'}}>{{add_remove}}</button>
        </div>
    </section>
</div>