<div id="completedAssignments">
    <div class="assignments-list">
        {{#each assignment in controller}}
        <div class="slider">
            <div class="reveal" {{action 'unRemoveAssignment' assignment}}></div>
            <div class="putBackable">
                <div class="info">
                    <div class="title">
                        {{assignment.assignment_name}}
                    </div>
                    <div class="course">{{assignment.course_id.course_name}}</div>
                </div>
               <img src="assets/icons/check-icon.png"/>
            </div>
        </div>
        {{/each}}
    </div>
</div>
