{{#each course in filteredData}}
    <div  {{action 'removeCourse' course}} class="slider left-box">
        <div class="reveal">
            <img class="pull-right"src="assets/icons/check-icon.png"/>
        </div>
        <div class="putBackable">
                <span class="time">
                    {{course.course_name}}
                </span>
            <div class="info">
                <div class="title">
                    {{course.course_description}}
                </div>
                <div class="course">
                    {{course.admin_id}}
                </div>
            </div>
        </div>
    </div>
{{/each}}
