/*
 * LESS CSS
 */
@font-face {
  font-family: GibsonFixed;
  src: url('assets/GibsonFixedLight.ttf') format('truetype');
}
/* 57/0 for Android, 62/5 for iOS */
.spin {
  -webkit-animation: rotation 1s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
html {
  -webkit-user-select: none;
}
body {
  background-color: #f2f2f2;
}
#middle {
  min-height: 420px;
}
* {
  padding: 0;
  margin: 0;
  font-family: GibsonFixed, sans-serif;
}
img {
  max-height: 100%;
}
*:focus {
  outline: 0;
}
li {
  list-style: none;
}
.link {
  color: #4fc2d5;
  text-decoration: none;
}
/* Helpers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.pull-left {
  float: left!important;
}
.pull-right {
  float: right!important;
}
.hide {
  visibility: hidden;
}
.black,
.black * {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: white;
}
.red,
.red * {
  background-color: #f2534f!important;
  color: white!important;
}
.orange,
.orange * {
  background-color: #f2534f!important;
  color: white!important;
}
.white {
  background-color: white!important;
}
.badge {
  padding: 7px;
}
.square {
  border-radius: 5px;
}
.hidden {
  display: none!important;
  visibility: hidden!important;
}
.circle {
  border-radius: 30px;
}
.centered {
  text-align: center;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f2f2f2;
  position: absolute;
}
.vertical-seperator {
  width: 1px!important;
  height: 100%;
  overflow: hidden!important;
  position: relative;
  display: inline-block;
  background-color: #818181;
}
.animate {
  transition: all 0.3s linear;
}
.fastAnimate {
  transition: all 0.1s linear;
}
button.disabled {
  opacity: 0.1!important;
  background: none!important;
  color: #000000!important;
}
/* Header */
header#appHeader {
  color: white;
  padding-top: 5px;
  font-size: 10px;
  text-align: center;
  background-color: #4fc2d5;
  /* background-image: linear-gradient(#4fc2d5, #61c7bc);*/
  text-transform: uppercase;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
}
header#appHeader img {
  height: 20px;
  padding: 20px 10px 15px;
}
header#appHeader .message-count {
  position: relative;
}
header#appHeader .message-count img {
  height: 35px;
  margin-top: -15px;
}
header#appHeader .message-count span {
  position: absolute;
  top: 6px;
  left: 26px;
  font-size: 20px;
  margin-left: 10px;
}
header#appHeader h1 {
  padding: 20px 0 13px;
}
/* Main Slide */
#content {
  overflow-x: hidden;
}
#content > div {
  transform: translate3d(-33.333%, 0px, 0px);
  margin-top: 62px;
}
#content > div > div {
  float: left;
  overflow-x: hidden;
}
/* Main Menu */
#left {
  overflow-y: hidden;
}
ul#leftMenu li {
  list-style: none;
  padding: 20px;
  height: 25px;
  font-size: 25px;
  color: #323232;
  border-bottom: 1px solid #d6d6d6;
}
ul#leftMenu li > div {
  display: inline-block;
  width: 35px;
  border-right: 1px solid #9d9d9d;
}
ul#leftMenu li img {
  max-height: 17px;
  max-width: 17px;
  text-align: center;
}
ul#leftMenu li span {
  height: 20px;
  padding-left: 10px;
}
ul#leftMenu li span.count {
  float: right;
  color: #f1544d;
}
/* About */
#about h2 {
  padding: 10px 20px;
  border-bottom: 2px solid #333;
}
#about #about p {
  padding: 10px 40px;
}
/* Assignments */
#newAssignments .description {
  word-wrap: break-word;
}
#newAssignments .description a.linkified {
  color: #4fc2d5;
  text-decoration: none;
  font-weight: 900;
}
#newAssignments #assignments-overdue {
  display: none;
}
#newAssignments #assignments-overdue .arrow-up {
  top: 52px;
  margin-left: 23%;
}
#newAssignments #assignments-overdue .slider > div:nth-child(2) {
  border-bottom: none!important;
}
#newAssignments #assignments-due {
  position: relative;
}
#newAssignments #assignments-due .arrow-up {
  top: -6px;
  margin-left: 25%;
}
#newAssignments #assignments-due .slider > div {
  border-bottom: none;
  border-top: 1px solid #d6d6d6;
}
/* Sliders*/
.slider {
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  min-height: 50px;
  overflow-y: hidden;
  position: relative;
}
.slider > div:nth-child(2) {
  padding: 10px 20px;
  min-height: 50px;
  position: relative;
  border-bottom: 1px solid #d6d6d6;
  background-color: #f2f2f2;
}
.slider .info {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  min-height: 50px;
  padding-left: 10px;
  border-left: 1px solid #9d9d9d;
  width: 85%;
}
.slider .title {
  font-size: 16px;
  margin-top: -3px;
  font-weight: 100;
  overflow-x: hidden;
}
.slider .course {
  font-size: 12px;
  margin-top: -15px;
  color: #808080;
}
/*
 * New Assignments
 */
#newAssignments > nav > .due,
#newAssignments > nav > .overdue {
  padding-top: 15px;
  padding-bottom: 15px;
}
#newAssignments > nav > div {
  width: 49%;
  float: left;
  text-align: center;
  font-size: 18px;
}
#newAssignments > nav {
  height: 60px;
  background-color: #3a4944;
  color: white;
  line-height: 30px;
  position: relative;
}
#newAssignments .day-divider {
  line-height: 40px;
  font-size: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  font-weight: bold;
  border-top: black 1px solid;
}
#newAssignments .sliders-list {
  position: relative;
}
#newAssignments .title {
  font-size: 16px;
  font-weight: 700;
}
#newAssignments .description {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.3px;
}
.from-now {
  display: none;
}
.putBackable img {
  height: 40px;
  float: right;
  margin-right: -20px;
}
/* Reveal*/
.reveal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333333 !important;
}
.reveal img {
  padding: 15px 10px;
  height: 40px;
}
/* Left Box */
.slider.left-box .red {
  border-top: 1px solid #c1272f;
}
.slider.left-box .time {
  height: 60px;
  width: 110px;
  font-size: 20px;
  float: left;
  font-weight: bold;
  color: #808080;
  position: relative;
  overflow: hidden;
}
.slider.left-box .time .course {
  margin-top: 5px;
}
/*Completed Assignments */
#completedAssignments .info {
  padding-left: 0;
  border: none;
  padding-top: 15px;
}
#completedAssignments .reveal img {
  padding: 22px 5px;
}
#completedAssignments .putBackable img {
  margin-top: -18px;
  margin-right: -20px;
}
#completedAssignments .course {
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
}
#completedAssignments .full {
  height: 100%;
}
#completedAssignments .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* Courses */
.courses .instructorName {
  font-size: 14px;
  font-style: italic;
  color: #808080;
  margin-top: 10px;
}
.courses .send-syllabus p {
  text-align: center;
  padding: 20px 10px;
  font-size: 24px;
}
.courses .send-syllabus .btn {
  display: table;
  margin: auto;
}
.courses .slider .info {
  border-left: none;
}
.courses #addCourse {
  height: 50px;
  background: url("assets/icons/ios/search.png") no-repeat 10px center;
  background-size: 30px;
  padding-left: 60px;
  border-bottom: 1px solid!important;
}
.courses #addCourse input {
  height: 50px;
  background: none;
  font-size: 20px;
  text-transform: uppercase;
  border: 0;
  width: 150px;
}
.courses #addCourse button {
  height: 30px;
  width: 80px;
  font-size: 20px;
  text-transform: uppercase;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  background-color: #4fc2d5;
  border: 0;
  color: white;
  border-radius: 5px;
  font-weight: 900;
}
input.search::-webkit-input-placeholder {
  text-transform: none;
}
.add-something {
  width: 300px;
  text-align: center;
  margin: 40px auto;
  color: #666666;
  font-size: 30px;
  z-index: 999;
}
.add-something img {
  width: 100px;
  display: block;
  margin: 20px auto;
}
/* Static Content */
.static-content {
  padding: 20px;
}
.static-content .static-content h3 {
  padding: 10px;
}
.nothing-due h2 {
  font-size: 22px;
}
.nothing-due img {
  width: 40%;
  margin: 40px 30%;
}
/* Messages */
#messages .message {
  margin: 30px;
  border: #cccccc solid 1px;
  box-shadow: #cccccc 5px;
  background-color: white;
}
#messages .message header {
  color: #333333;
  line-height: 20px;
  height: 20px;
  padding: 20px;
  padding-bottom: 10px;
}
#messages .message header .pull-left {
  font-size: 20px;
  font-weight: 600;
}
#messages .message header .pull-right {
  font-size: 14px;
}
#messages .message article {
  clear: both;
  padding: 20px;
  padding-top: 10px;
}
#reminders h3 {
  padding: 12px 15px;
  border-bottom: solid #333333 1px;
}
#reminders ul li {
  position: relative;
  border-bottom: solid #cccccc 1px;
  font-size: 20px;
  font-weight: 100;
}
#reminders ul li .reveal img {
  height: 30px;
  margin-top: -2px;
  margin-left: 5px;
}
#reminders ul li .putBackable {
  padding: 15px 20px;
  position: relative;
  background-color: #f2f2f2;
}
#reminders ul li .putBackable img {
  height: 30px;
  margin-top: -2px;
  margin-right: -5px;
}
#reminders #new-reminder figure {
  float: right;
  padding: 20px 15px;
}
#reminders #new-reminder figure img {
  width: 30px;
  padding-bottom: 15px;
}
#reminders #new-reminder figure input {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 33%;
  opacity: 0;
}
#reminders #new-reminder form {
  padding: 20px;
  font-size: 20px;
}
#reminders #new-reminder form input {
  background: rgba(255, 102, 102, 0.1);
  border: none;
  width: 30px;
  font-size: 20px;
  height: 30px;
  text-align: center;
  font-weight: 900;
  border-radius: 5px;
}
#reminders #new-reminder form ::-webkit-input-placeholder {
  color: #cccccc;
}
#reminders #new-reminder form ::-moz-placeholder {
  color: #cccccc;
}
#reminders #new-reminder form :-ms-input-placeholder {
  color: #cccccc;
}
#reminders #new-reminder form select {
  background: rgba(255, 102, 102, 0.1);
  border: none;
  font-size: 20px;
  height: 30px;
  border-radius: 5px;
}
#welcome {
  color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: white;
  width: 100%;
  display: none;
  text-align: center;
}
#welcome .arrow-right {
  position: absolute;
  bottom: 50px;
  margin: auto;
  text-align: center;
  width: 100%;
  z-index: 120;
}
#welcome .swiper-slide {
  width: 100%;
  position: relative;
}
#welcome .swiper-slide .content-slide {
  padding: 20px;
}
#welcome .swiper-slide .content-slide h2 {
  margin-bottom: 20px;
}
#welcome .swiper-slide .content-slide h3 {
  margin-bottom: 20px;
}
#welcome .swiper-slide .content-slide p {
  padding-bottom: 20px;
}
#welcome .swiper-slide .content-slide img {
  width: 260px;
  margin: auto;
  display: block;
  border: #666666 solid 3px;
}
#welcome .swiper-slide .content-slide p.button {
  padding-top: 30px;
  font-size: 25px;
  color: #99CC00;
}
#welcome .swiper-slide .content-slide p.button.my-school {
  margin-top: 30px;
  border: solid #99CC00 2px;
  width: 90%;
  margin-left: 5%;
}
#welcome .swiper-slide .content-slide #school-name {
  color: #a0a0a0;
}
#welcome .swiper-slide .content-slide .scombobox-dropdown-background {
  display: none!important;
}
#welcome .title {
  font-size: 25px;
  margin-bottom: 10px;
}
#welcome .pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}
#welcome .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
#welcome .swiper-active-switch {
  background: #fff;
}
#welcome .scombobox {
  margin-top: 15px;
}
#welcome .scombobox input {
  height: 40px;
  font-size: 30px;
  padding: 30px 10px;
}
#welcome .scombobox .scombobox-list p {
  padding: 20px 0;
  font-size: 20px;
}
#support h3.show-welcome {
  text-align: center;
}
#support a {
  text-decoration: none;
  color: #408CBE;
}
#support p {
  font-size: 18px;
  padding-bottom: 20px;
}
#share-modal {
  display: none;
}
/* Overlay */
#simplemodal-overlay {
  background-color: #000;
}
/* Container */
#simplemodal-container {
  color: #666666;
  background-color: white;
  border: 3px solid #444;
  padding: 30px 0;
  height: 180px;
  min-width: 260px !important;
  border-radius: 5px;
  position: relative;
  /* Buttons */
}
#simplemodal-container h3 {
  text-align: center;
  font-size: 20px;
}
#simplemodal-container .buttons {
  width: 100%;
  padding: 20px 0;
}
#simplemodal-container .button {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #4fc2d5;
  border-radius: 5px;
  width: 90%;
  padding: 20px 0;
  margin: 10px 5%;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  font-weight: 600;
}
/*
 * Bootstrap Style Buttons
 */
.btn {
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  font-weight: 900;
  font-size: 18px;
}
.btn-blue {
  background-color: #4fc2d5;
  color: #ffffff;
}
