<header id="appHeader">
    <img id="menuToggle" src="assets/icons/menu-icon.png" class="pull-left">
    <!--button type="button" class="pull-right" {{action 'reset'}}> reset</button-->
    <h1 id="page-title">
        Assignments Due
    </h1>


</header>

<div id="content">
    <div id="contentContainer">
    <div id="left">
        <div id="menu">
            <ul id="leftMenu">

                {{#link-to 'assignments' tagName='li'}}
                    <div>
                        <img src="assets/icons/current-assignments-icon.png"/>
                    </div>
                            <span>
                                What's Due
                            </span>
                    <span class="whatsdue count"></span>
                {{/link-to}}


                {{#link-to 'completedAssignments' tagName='li'}}
                    <div>
                        <img src="assets/icons/completed-assignments-icon.png"/>
                    </div>
                    <span>
                        Completed
                    </span>
                {{/link-to}}


                {{#link-to 'enrolled' tagName='li'}}
                    <div>
                        <img src="assets/icons/my-courses-icon.png"/>
                    </div>
                    <span>
                        My Courses
                    </span>
                {{/link-to}}




                <li>
                    <div>
                        <img src="assets/icons/settings-icon.png"/>
                    </div>
                            <span>
                                Settings
                            </span>
                </li>
                <li>
                    <div>
                        <img src="assets/icons/feedback-icon.png"/>
                    </div>
                            <span>
                                Feedback &amp; Support
                            </span>
                </li>
                <!--
                <li onclick="goTo('#about', 'About')">
                    <div>
                        <img src="assets/icons/about-icon.png"/>
                    </div>
                            <span>
                                About
                            </span>
                </li>
                -->
            </ul>
        </div>
    </div>
    <div id="middle">
        {{outlet}}

    </div>
    <div id="right"></div>
    </div>
</div>
