{{#each course in filteredData}}
    <div class="slider">
        <div {{action 'removeCourse' course}} class="reveal">
            <img class="pull-left"src="assets/icons/check-icon.png"/>
        </div>
        <div class="putBackable animate">
            <div class="info">
                <div class="title">
                    {{course.course_name}} - {{course.admin_id}}
                </div>
                <div class="course">
                    {{course.course_description}}
                </div>
            </div>
        </div>
    </div>
{{/each}}
{{#link-to 'unenrolled' tagName='div' class="add-something"}}
    <img src="assets/icons/plus.png">
    Add a Course
{{/link-to}}