<input class="search" type="text" placeholder="Search by Course or Instructor"/>
<ul class="searchable">
    {{#each course in filteredData}}
        <li class="slider">
            <div {{action 'addCourse' course}} class="reveal">
                <img class="pull-left"src="assets/icons/check-icon.png"/>
            </div>
            <div class="putBackable animate">
                <div class="info">
                    <div class="title">
                        {{course.course_name}} - {{course.admin_id}}
                    </div>
                    <div class="course">
                        {{course.course_description}}
                    </div>
                </div>
            </div>
        </li>
    {{/each}}
</ul>

